doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width, minimal-ui")
    meta(name="format-detection", content="telephone=no")

    meta(property="og:site_name", content="TemplateSiteName")
    meta(property="og:title", content="TemplateTitle")
    meta(property="og:description", content="TemplateDescription")
    meta(property="og:type", content="TemplateType")
    meta(property="og:url", content="")
    meta(property="og:image", content="")

    title Template

    link(rel="stylesheet", href="css/main.css")

  body

    .experiment
      #scene

    //- build:js js/vendor.js
    //- bower:js
    script( src="js/bower_components/PxLoader/PxLoader.js" )
    script( src="js/bower_components/PxLoader/PxLoaderImage.js" )
    script( src="js/bower_components/dat-gui/build/dat.gui.js" )
    script( src="js/bower_components/emitter/emitter.js" )
    script( src="js/bower_components/gsap/src/minified/easing/EasePack.min.js" )
    script( src="js/bower_components/gsap/src/minified/plugins/CSSPlugin.min.js" )
    script( src="js/bower_components/gsap/src/minified/TweenMax.min.js" )
    script( src="js/bower_components/threejs/build/three.js" )
    script( src="js/threejs/postprocessing/EffectComposer.js" )
    script( src="js/threejs/postprocessing/RenderPass.js" )
    script( src="js/threejs/postprocessing/ShaderPass.js" )
    script( src="js/threejs/postprocessing/MaskPass.js" )
    script( src="js/threejs/shaders/CopyShader.js" )
    script( src="js/threejs/shaders/FXAAShader.js" )
    script( src="js/threejs/shaders/SSAOShader.js" )
    script( src="js/threejs/shaders/BokehShader.js" )
    script( src="js/threejs/loaders/OBJLoader.js" )
    script( src="js/threejs/loaders/MTLLoader.js" )
    script( src="js/threejs/loaders/OBJMTLLoader.js" )
    script( src="js/vendors/stats.min.js" )
    //- endbower
    //- endbuild
    //- build:js js/main.js
    script( src="js/app.js" )
    //- endbuild
